# ignore all python cache files
*.pyc

# ignore IDEA config files
.idea

# ignore .secrets
SSG-API-Testing-Application-v2/app/.secrets
secrets

# ignore logs
.log

# ignore coverage files
SSG-API-Testing-Application-v2/app/coverage.xml
SSG-API-Testing-Application-v2/app/.coverage

# Ignore terraform files
.terraform
.terraform.*
terraform.*
