# ignore all python cache files
*.pyc

# ignore IDEA config files
.idea

# ignore .secrets
revamped_application/.secrets
secrets

# ignore logs
.log

# ignore coverage files
revamped_application/coverage.xml
