# ignore all python cache files
*.pyc

# ignore IDEA config files
.idea

# ignore .secrets
SSG_API_Testing_Application_v2/.secrets
secrets

# ignore logs
.log

# ignore coverage files
SSG_API_Testing_Application_v2/coverage.xml
SSG_API_Testing_Application_v2/.coverage
